<header class="jumbotron">
  <h1 class="text-center">Cadastro de fotos</h1>
</header>
<main class="container">
  <div class="row">

    <form class="col-md-5 offset-md-2 mb-4">
      <div class="form-group">
        <label for="">Titulo</label>
        <input type="text" class="form-control">
      </div>

      <div class="form-group">
        <label for="">URL</label>
        <input type="text" class="form-control">
      </div>

      <div class="form-group">
        <label for="">Descrição</label>
        <textarea class="form-control"></textarea>
      </div>

      <a routerLink="" class="btn btn-secondary float-left">Voltar</a>
      <button class="btn btn-primary float-right">Salvar</button>
    </form>
    <aside class="col-md-5">
      <h2>preview</h2>
    </aside>

  </div>
</main>